
<div class="container">
    @{
        ViewData["Title"] = "Contact LMYC for more information!";
    }
    <div class="container" style="margin-top:20px;">
        <h2 style="color:black;">@ViewData["Title"]</h2>
    </div>
    <div class="jumbotron" style="margin-top: 10px;">
        
        <h4>If you have any questions, feel free to contact us!</h4>

        <address>
            One BCIT Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>JEI:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>MICOLE:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <img src="~/images/mainimage.jpeg" alt="Package Management" class="img-responsive" />
</div>